---
import BaseLayout from "../layouts/BaseLayout.astro";
import Author from "../components/Author.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";

import data from "../data/data.json";
---

<BaseLayout title="Astro Components: Blog Cards">
	<header class="wrapper mt-500 mb-500">
		<h1>Astro Components: Blog Cards</h1>
	</header>
	<!-- card display -->
	<section class="wrapper background mt-500">
		<div class="grid grid--thirds grid--blog-card">
			{
				data.map(
					({ author, title, description, category, hero, time }) => (
						<Card>
							{/* badge */}
							<Badge
								theme={
									category === "Technology"
										? "teal"
										: category === "Popular"
											? "magenta"
											: "sky-blue"
								}
								slot="badge"
							>
								<p>{category}</p>
							</Badge>
							{/* hero */}
							<img
								src={hero}
								alt={`Image of ${title}`}
								slot="img"
							/>
							{/* title */}
							<h2 slot="title">{title}</h2>
							{/* description */}
							<p>{description}</p>

							<Author
								class="mt-800"
								src={author.avatar}
								name={author.name}
								time={time}
								slot="author"
							/>
						</Card>
					)
				)
			}
		</div>
	</section>
</BaseLayout>

<style lang="scss">
	section {
		padding: 3rem;
		border-radius: var(--bdr-radius);
	}

	.grid--blog-card {
		gap: var(--spc-800);
		grid-auto-rows: min-content;
	}
</style>
